<div [@routerTransition]>
    <app-page-header [heading]="'Create A New Path'" [icon]="'fa-edit'"></app-page-header>
    <div class="row">
        <div class="col-lg-6">
            <form role="form">
                <fieldset class="form-group">
                    <input class="form-control" placeholder="Path Name">
                </fieldset>

                <fieldset class="form-group">
                    <label for="exampleInputFile">Upload Base Image</label>
                    <input type="file" class="form-control-file" id="exampleInputFile">
                </fieldset>
                <button type="submit" class="btn btn-secondary">Generate</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </form>
        </div>
    </div>
</div>
