<div [@routerTransition]>
    <app-page-header [heading]="'Generated Paths'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
                <table class="card-block table table-hover">
                    <tbody>
                    <tr>
                        <td>boiler.txt</td>
                    </tr>
                    <tr>
                        <td>whatever.txt</td>
                    </tr>
                    <tr>
                        <td>hopper.txt</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
