<div [@routerTransition]>
    <app-page-header [heading]="'Create A New Path'" [icon]="'fa-edit'"></app-page-header>
    <div class="row">
        <div class="col">
            <form role="form">
                <div class="col-sm-4">
                    <input class="form-control" placeholder="Path Name">
                </div>
                <div class="row">
                  <br>
                  <app-canvas class="canvas"></app-canvas>
                  <br>
                </div>
                <button type="submit" class="btn btn-secondary">Generate!</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </form>
        </div>
        <div class="col">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Edit Waypoints</h3>
              </div>
              <div class="panel-body">
                Waypoints go here
              </div>
            </div>
        </div>
    </div>
</div>
